:root {
  --swap-colour: #262626;
  --bg-colour: #FFFFFC;
  --p-colour: #7F5A83;
  --a-colour: #A188A6;
  --font-colour: #2E2C2F;
  font-family: 'Poppins', sans-serif;
}

[data-theme="dark"] {
  --swap-colour: #FFFFFC;
  --bg-colour: #262626;
  --p-colour: #344966;
  --a-colour: #6E7DAB;
  --font-colour: #D8DBE2;
}

body {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  transition-duration: 0.4s;
}

p {
  font-size: 2rem;
  color: inherit;
}

h1 {
  display: grid;
  color: inherit;
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid var(--a-colour);
  text-align: center;
  font-size: 3rem;
}

/* Button CSS */
button {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--swap-colour);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  line-height: 1.25;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none;
  transition: background 400ms ease-in-out, transform 250ms ease, box-shadow 400ms ease;
  touch-action: manipulation;
  user-select: none;
  vertical-align: baseline;
  width: 50px;
  -webkit-user-select: none;
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Cards & Their Wrapper*/

.cardwrapper {
  --rows: 5;
  --columns: 6;
  overflow-y: auto;
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 100%;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  grid-template-columns: repeat(var(--columns), 1fr [col-start]);
  grid-template-rows: repeat(var(--rows), 1fr [col-start]);

}

.card {
  opacity: 0.9;
  margin-top: 0.5rem;
  border-radius: 2%;
  justify-self: center;
  display: grid;
  background-color: var(--p-colour);
  height: 350px;
  width: 250px;
  transition-duration: 400ms;
  gap: 1rem;
  grid-template-areas: 
  "Image",
  "Description",
  "Start Status";
}

.card:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 2.5px 8px 30px;
  cursor: pointer;
  transform: translateY(-8px);
}

.image {
  grid-area: "Image";
  width: 250px;
  border-radius: 2%;
}

.description {
  text-align: center;
  justify-self: center;
  height: 80px;
  font-size: 1rem;
  grid-area: "Description";
}

.date {
  text-align: center;
  font-size: 0.75rem;
  grid-area: "Start";
}