:root {
  --swap-colour: #262626;
  --bg-colour: #FFFFFC;
  --p-colour: #7F5A83;
  --a-colour: #A188A6;
  --font-colour: #2E2C2F;
  font-family: 'Poppins', sans-serif;
}

[data-theme="dark"] {
  --swap-colour: #FFFFFC;
  --bg-colour: #262626;
  --p-colour: #344966;
  --a-colour: #6E7DAB;
  --font-colour: #D8DBE2;
}

body {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  transition-duration: 0.4s;
  overflow: hidden;
  user-select: none;
}

p {
  font-size: 2rem;
  color: inherit;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.header {
  background-image: linear-gradient(
    to right,
    #ff686b,
    #f08080,
    #f8ad9d,
    #ffdab9,
    #ff686b
  );
  background-size: 200%;
  -webkit-background-clip: text;
  animation: background-pan 3s linear infinite;
  color: inherit;
  margin: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  border-bottom: solid var(--a-colour);
  text-align: center;
  font-size: 3rem;
}


/* Button CSS */
.toggle {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--swap-colour);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  line-height: 1.25;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none;
  transition: background 400ms ease-in-out, transform 250ms ease, box-shadow 400ms ease;
  touch-action: manipulation;
  user-select: none;
  vertical-align: baseline;
  width: 50px;
  -webkit-user-select: none;
}

.toggle:hover,
.toggle:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.toggle:hover {
  transform: translateY(-1px);
}

.toggle:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Cards & Their Wrapper*/

.card-wrapper {
  overflow-y: auto;
  display: flex;
  gap: 3.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 80vh;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  flex-wrap: wrap;
}

.card {
  opacity: 0.9;
  margin-top: 0.5rem;
  border-radius: 2%;
  justify-self: center;
  display: grid;
  background-color: var(--p-colour);
  height: 350px;
  width: 250px;
  transition-duration: 400ms;
  gap: 1rem;
  grid-template-areas: 
  "Image",
  "Description",
  "Start Status";
}

.card:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 2.5px 8px 30px;
  cursor: pointer;
  transform: translateY(-8px);
}

.image {
  grid-area: "Image";
  width: 250px;
  border-radius: 2%;
}

.description {
  text-align: center;
  justify-self: center;
  height: 80px;
  font-size: 1rem;
  grid-area: "Description";
}

.date {
  text-align: center;
  font-size: 0.75rem;
  grid-area: "Start";
}



/* Navbar */

.navbar {
  display: flex;
  width: calc(100vw - 2rem);
  text-align: center;
  justify-content: space-around;
  margin: 0 1rem 0 1rem;
  background-color: var(--a-colour);
  height: 0rem;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 200ms ease-in-out;
}


.navbar-btn {
  background-color: var(--a-colour);
  border: none;
  width: 100%;
  font-size: 1.5rem;
  color: inherit;
  transition: background 200ms ease-in-out;
}
.navbar-btn:hover {
  background-color: var(--p-colour);
  cursor: pointer;
}

.header:hover + .navbar {
  height: 4rem;
  opacity: 1;
}

.navbar:hover {
  height: 4rem;
  opacity: 1;
}

span {
  transition: all 200ms ease-in-out;
}